<launch>
	<arg name="sim" default="false"/>
	
	<group unless="$(arg sim)">
		<include file="$(find youbot_assignment)/launch/joystick.launch"/>
	</group>
	
	<group unless="$(arg sim)">
		<node pkg="map_server" type="map_server" name="map_server_node" args="$(find youbot_assignment)/maps/map_lab1.yaml">
			<param name="frame_id" value="/map"/>
		</node>
	</group>
	
	<group if="$(arg sim)">
		<node pkg="map_server" type="map_server" name="map_server_node" args="$(find youbot_assignment)/maps/map_sim.yaml">
			<param name="frame_id" value="/map"/>
		</node>
	</group>
	
	<include file="$(find youbot_assignment)/launch/navigation.launch"/>
	
	<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find youbot_assignment)/config/youbot_mapping.rviz" respawn="true"/>
	
	<!--<node pkg="goal_queue_ros" type="goal_queue_ros_node" name="goal_queue_node" respawn="true"/>-->
</launch>
